/* Basic classes */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffeb;
    font-family: 'Permanent Marker', cursive;
}

body{
    display: flex;
    flex-direction: column;
}

/* Header content */
header{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header div {
    flex: 1;
    font-size: 150px;
    text-align: center;
}

#titleRock{
    transform: rotate(-30deg);
}

#titlePaper{
    transform: rotate(15deg);
}

#titleScissor{
    transform: rotate(-30deg);
}

/* PLay button */
.container{
    flex: 1;
    display: flex;
    justify-content: center;
}

button{
    width: 200px;
    height: 80px;
    background-color: #1f2124;
    border-radius: 16px;
    transition: all 1s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

i{
    color: white;
    font-size: 40px;
    padding: 8px;
}